<% provide(:title, 'MangaVIP - Read Manga Online for Free!') %>
  	<div class="row-fluid">
	    <div class="span9">
			<div class="row-fluid">
				<div class="block-manga">
					<div class="block-manga-title"> Latest Chapter Updates </div>
					<div class="">
						<table class="table table-hover">
							<% @i = 0 %>
							<tr>
								<td width="5px" class="text-center">#</td>
							 	<td width="250px" class="text-center">Name</td>
							 	<td width="5px" class="text-center">Views</td>
							 	<td width="80px" class="text-center">Update</td>
							</tr>
							<% @chapters.each do |c| %>
								<% if c.manga!=nil %>
								 <tr>
								 	<td class="text-center"><%= @i+=1 %></td>
								    <td>
								    	<%= link_to manga_name(c.manga_id).to_s+c.index.to_s, manga_path(c.manga) %>
								    	<% if (admin_signed == true) %>
								    	<p class="admin-action">
								    		<%= link_to "Edit", edit_chapter_path(c) %>
								    	- <%= link_to "Delete", chapter_path(c), :method => :delete, :remote => true, :confirm => "Are you sure?" %>
								    	</p>
								    	<% end %>
								    </td>
								    <td class="text-center">
							           <%= Integer(c.views) %>
							        </td>

								    <td class="text-center">
							           <%= c.updated_at.strftime("%H:%M - %d-%m-%Y") %>
							        </td>
									</tr>
								<% end %>
							<% end %>
						</table>
					</div>
				</div>
				<div class="paginate_box">
        	<%= paginate @chapters, :window => 2 %>
        </div>
			</div>
		</div>
		<%=  render 'sidebar' %>
		</div>