<% provide(:title, 'List manga') %>
<div class="row-fluid">
  <div class="block-manga">
      <div class="block-manga-title"> Latest Manga Updates </div>
      <div class = "top-lists">
        <%= link_to "All", list_mangas_path(), :class=>"btn"%>
        <% for begin_letter in "a".."z" %>
        <%= link_to begin_letter, list_mangas_path(:like => begin_letter),:class => "begin_letter" %>
        <% end %>
      </div>
      <div class = "top-lists">
        <%= link_to "Name", list_mangas_path(:sort => "name"),:class => "begin_letter" %>
        <%= link_to "Views", list_mangas_path(:sort => "views"),:class => "begin_letter" %>
        <%= link_to "Update", list_mangas_path(:sort => "create_date"),:class => "begin_letter" %>
      </div>
        <div class="">
          <table class="table">
              <% @i = 0 %>
              <tr>
                <td width="5px"></td>
                <td width="300px">Name</td>
                <td width="5px">Author</td>
                <td width="5px">Chapter</td>
                <td width="30px">Updated</td>
              </tr>
              <% @Lists.each do |c| %>
              <% @i=@i+1 %>
               <tr >
                  <td>
                    <%= @i %>
                  </td>
                  <td class="col1">
                    <%= link_to c.name, manga_path(c) %>
                    <% if (admin_signed == true) %>
                    <p class="admin-action">
                       <%= link_to "Edit", edit_manga_path(c) %>
                       <%= link_to "Delete", manga_path(c), :method => :delete, :remote => true, :confirm => "Are you sure?" %>
                    </p>
                    <% end %>
                  </td>
                  <td>
                       <%= c.author %>
                    </td>

                  <td>
                      <%= c.chapters.count %>
                  </td>
                  <td>
                      <%= c.updated_at.strftime("%d-%m-%Y") %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="paginate_box">
        <%= paginate @Lists %>
        </div>
      </div>
