<% provide(:title, "Sign in") %> 
<div class="signup-left">
<h3>Sign in</h3>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<table>
  <tr>
  	<td><%= f.label :email %></td>
  	<td><%= f.email_field :email %></td>
  </tr>
  <tr>
	<td><%= f.label :password %></td>
	<td><%= f.password_field :password %></td>
	</tr>

  <% if devise_mapping.rememberable? -%>
    <tr>
    	<td><%= f.check_box :remember_me %></td>
    	<td><%= f.label :remember_me %></td>
    </tr>
  <% end -%>
</table>
  <div><%= f.submit "Sign in" , class: "btn btn-primary" %></div>
<% end %>
<%= render "devise/shared/links" %>
</div>
<div class="signup-right">
</div>